<html>
  <head>
    <title> Login </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href=" {% static 'accounts/style.css' %}"
  </head>
  <body>
    <div class="container">
      <H1> Welcome! </H1>
        You can login here!
      <button class="btn btn-default" type="button" name="button"> Login </button>
    </div>

    <div class="jumbotron">
      <div class="container">
      <h1>Welcome!</h1>
      </div>
    </div>
  </body>

</html>
